/* ===== COMPONENTS ===== */
button, input {
  font-family: var(--font-base) !important;
}

button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2rem auto;
}

hr {
  border: 0;
  border-top: 1px solid var(--selection);
  margin: 2rem 0;
}
