/* ===== TABLES ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  background-color: transparent !important;
}

tr, td, th {
  background-color: transparent !important;
  padding: 0.75rem 1rem;
  text-align: left;
}

[data-theme="dark"] tr,
[data-theme="dark"] td,
[data-theme="dark"] th {
  border-bottom: 1px solid var(--dracula-selection);
}

[data-theme="light"] tr,
[data-theme="light"] td,
[data-theme="light"] th {
  border-bottom: 1px solid var(--alucard-border);
}

tbody tr:nth-child(even) {
  background-color: transparent !important;
}
