/* ===== TABLES ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  background-color: transparent !important;
}

tr, td, th {
  background-color: transparent !important;
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--selection);
}

tbody tr:nth-child(even) {
  background-color: transparent !important;
}
